<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="list-box"></ion-icon>
            <ion-label>Productos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="cart"></ion-icon>
            <ion-label>Carrito</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>