<ion-header>
    <ion-toolbar>
        <ion-title>
            Carrito de compras
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Total: {{total| currency:'COP':'$' }} </h3>
    <ion-grid>
        <ion-row>
            <ion-col size-lg="4" size="12" *ngFor="let cart of carts">
                <ion-card class="welcome-card">
                    <img src="{{cart.Producto.Imagen}}" alt="" />
                    <ion-card-header>
                        <ion-card-title>{{cart.Producto.Nombre}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p>{{cart.Producto.Descripcion}}</p>
                        <p>{{cart.Precio| currency:'COP':'$' }}</p>
                        <p>Cantidad: {{cart.Cantidad}}</p>
                        <ion-button fill="clear" color="dark" (click)="eliminar(cart)">
                            <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>