<ion-header>
    <ion-toolbar>
        <ion-title>
            Productos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-lg="4" size="12" *ngFor="let product of products">
                <ion-card class="welcome-card">
                    <img src="{{product.Imagen}}" alt="" />
                    <ion-card-header>
                        <ion-card-title>{{product.Nombre}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p>{{product.Descripcion}}</p>
                        <p>{{product.Precio| currency:'COP':'$' }}</p>
                        <ion-button fill="clear" color="dark" (click)="agregar(product)">
                            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>